  <portlet>
    <portlet-name><%= @portlet.id %></portlet-name>
    <display-name><%= @portlet.title %></display-name>
    <portlet-class>org.springframework.web.portlet.DispatcherPortlet</portlet-class>
    <init-param>
      <name>contextConfigLocation</name>
      <value>/WEB-INF/crescendo-ui-<%= @portlet.id %>-portlet.xml</value>
    </init-param>
    <expiration-cache>0</expiration-cache>
    <supports>
      <mime-type>text/html</mime-type>
    </supports>
    <resource-bundle>content.<%= @portlet.name %>.Language</resource-bundle>

    <portlet-info>
      <title><%= @portlet.title %></title>
      <short-title><%= @portlet.title %></short-title>
      <keywords></keywords>
    </portlet-info>
    <security-role-ref>
      <role-name>administrator</role-name>
    </security-role-ref>
    <security-role-ref>
      <role-name>guest</role-name>
    </security-role-ref>
    <security-role-ref>
      <role-name>power-user</role-name>
    </security-role-ref>
    <security-role-ref>
      <role-name>user</role-name>
    </security-role-ref>
  </portlet>

